body{
    background-color:rgb(195, 207, 87);
    color: rgb(230, 13, 13);
}

h1{
    text-align: center;
    font-size: 4em;
}

h2{
    text-align: center;
    font: 2em;
}

h3{
    text-align: left;
    font: 1em;
}